body {
    background-color: #111111;
}

@font-face {
    font-family: 'aliens_and_cowsregular';
    src: url('aliens_and_cows_trial-webfont.woff2') format('woff2'),
         url('aliens_and_cows_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#containerHome {
    position: absolute;
    margin: auto;
    height: 485px;
    width: 831px;
    background-color: #111;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgHome {
    border-radius: 7px;
    width: 270px;
    height: 485px;
    float: right;
    filter: grayscale(100%);
    transition: filter 1s;
    overflow: hidden;
}

.imgHome:hover {
    filter: grayscale(0)
}
 
.txt {
    float: left;
    position: absolute;
    color: #d9d9d9;
    font-family: 'aliens_and_cowsregular';
    font-size: 81px;
    margin-top: 200px;
}

.button {
    display: inline-block;
    margin: 0 20px;
    color: #d9d9d9;
    background-color: transparent;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    width: 136px;
    height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: #D8B94E;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span {
    background: #D8B94E;
    height: 100%;
    width: 0;
    border-radius: 7px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.button:hover span {
    width: 100%;
}

.button:hover {
    color: #111;
}

a {
    color: #d9d9d9;
    font-family: 'Francois One', sans-serif;
    text-decoration: none;
}

.dark {
    position: absolute;
    cursor: pointer;
    margin-left: 75%;
    height: 38px;
    width: 50px;
}

.light {
    position: absolute;
    cursor: pointer;
    margin-left: 75.5%;
    height: 38px;
    width: 50px;
    z-index: -1;
}

.work {
    transform: rotate(-90deg);
    position: fixed;
    bottom: 100px;
}

#containerWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 150px;
}

.imgWork {
    width: 312px;
    height: 319px;
    float: right;
    color: transparent;
    margin-top: 20px;
    overflow: hidden;
    filter: grayscale(75%);
    transition: filter 1s;
}

.imgWork:hover {
    filter: grayscale(0);
    visibility: visible;
}

.title {
    color: #fff;
    position:absolute;
    text-align: center;
    top: 40%;
    left: 20%;
    z-index: 500;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    border: solid 1px #111;
    background-color: #111;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    transition: opacity 1s;
}

.title:hover {
    opacity: 1;
}

.title2 {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 25%;
    z-index: 500;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    border: solid 1px #111;
    background-color: #111;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    transition: opacity 1s;
}

.title2:hover {
    opacity: 1;
}

.title3 {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 20%;
    z-index: 500;
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    border: solid 1px #111;
    background-color: #111;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    transition: opacity 1s;
}

.title3:hover {
    opacity: 1;
}

.homeLinkw {
    transform: rotate(-90deg);
    position: fixed;
    bottom: 100px;
    left: 110px;
    bottom: 85px;
    color: #D8B94E;
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
}

#containerAbout {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: flex-start;
    margin: 50px;
}

.imgAbout {
    height: 700px;
    width: 700px;
    border-radius: 7px;
    float: left;
    color: transparent;
    border-style: solid;
    border-color: #D8B94E;
    margin: 10px;
    overflow:hidden;
}

.about {
    position: absolute;
    right: 350px;
    margin: 0;
}

p {
    font-family: 'Francois One', sans-serif;
    font-size: 14px;
    color:#d9d9d9;
    width: 310px;
    text-align: left;
    position: absolute;
    right: 205px;
    top: 150px;
    margin: 0;
}

.homeLinka {
    position: absolute;
    top: 124px;
    right: 482px;
    color: #D8B94E;
    font-family: 'Francois One', sans-serif;
    font-size: 15px;
}

#containerCV {
    display: flex;
    justify-content: center;
    margin: 300px 0;
}

.cv {
    position: absolute;
    top: -100px;
    left: 50px;
}